.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  padding: 4px 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text-regular);
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover,
  &:active {
    color: var(--color-primary);
  }
}
