.column {
  max-width: 430px;
  max-height: 900px;
  overflow-y: auto;
  padding: 32px 16px;
  background-color: var(--color-column-bg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body {
  padding-top: 16px;
}
