@use 'vars.scss';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-image: url('./../assets/bg-images/bg-image.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}
