.h1,
.h2 {
  font-weight: 700;
  color: var(--color-text-bold);
  line-height: 28px;
  letter-spacing: 0.36%;
}

.h1 {
  font-size: 40px;

  @media (min-width: 768px) and (max-width: 1600px) {
    font-size: 36px;
  }
}

.h2 {
  font-size: 24px;

  @media (min-width: 768px) and (max-width: 1600px) {
    font-size: 22px;
  }
}
