.layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    overflow-x: scroll;
  }
}

.header {
  flex: 0 1 auto;

  @media (max-width: 768px) {
    width: var(--container-max-w);
  }
}

.content {
  flex: 1 1 auto;
  overflow-y: auto;

  @media (max-width: 768px) {
    width: var(--container-max-w);
  }
}
