.info-form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 768px) and (max-width: 1280px) {
    gap: 15px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.date-fields {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media (min-width: 768px) and (max-width: 1280px) {
    flex-direction: row;
    justify-content: start;
    gap: 10px;
  }
}

.field-body {
  display: flex;
  gap: 16px;

  @media (min-width: 768px) and (max-width: 1600px) {
    flex-direction: column;
    gap: 4px;
  }
}

.label {
  color: var(--color-text-regular);
}

.overdue {
  input {
    color: var(--color-error);
  }
}

.error {
  padding-left: 5px;
  color: var(--color-error);
}

.actions {
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
